<div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid tm_bottom vc_custom_1438940895968">
    <div class="wpb_column vc_column_container vc_col-sm-3">
        <div class="wpb_wrapper">
            <div class="wpb_single_image wpb_content_element vc_align_left   man">
                <div class="wpb_wrapper">
                    <div class="vc_single_image-wrapper   vc_box_border_grey">
                        <img width="270" height="314" src="~/Content/images/smiling-worker.png" class="vc_single_image-img attachment-full" alt="man01" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-9">
        <div class="wpb_wrapper">
            <div class="vc_row wpb_row vc_inner vc_row-fluid">
                <div class="wpb_column vc_column_container vc_col-sm-4">
                    <div class="wpb_wrapper">
                        <div class="vc_icon_element vc_icon_element-outer vc_icon_element-align-center vc_icon_element-have-style">
                            <div class="vc_icon_element-inner vc_icon_element-color-white vc_icon_element-have-style-inner vc_icon_element-size-lg vc_icon_element-style-boxed vc_icon_element-background vc_icon_element-background-color-custom" style="background-color:#98c11e"><span class="vc_icon_element-icon fa fa-phone"></span></div>
                        </div>
                        <div class="vc_custom_heading vc_custom_1438941083209">
                            <h4 style="font-size: 14px;color: #333333;text-align: left">PHONE</h4>
                        </div>
                        <div class="vc_custom_heading">
                            <h4 style="font-size: 15px;color: #333333;text-align: left">999-999-9999</h4>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-4">
                    <div class="wpb_wrapper">
                        <div class="vc_icon_element vc_icon_element-outer vc_icon_element-align-center vc_icon_element-have-style">
                            <div class="vc_icon_element-inner vc_icon_element-color-white vc_icon_element-have-style-inner vc_icon_element-size-lg vc_icon_element-style-boxed vc_icon_element-background vc_icon_element-background-color-custom" style="background-color:#98c11e"><span class="vc_icon_element-icon fa fa-home"></span></div>
                        </div>
                        <div class="vc_custom_heading vc_custom_1438941179840">
                            <h4 style="font-size: 14px;color: #333333;text-align: left">ADDRESS</h4>
                        </div>
                        <div class="vc_custom_heading">
                            <h4 style="font-size: 15px;color: #333333;line-height: 1.2;text-align: left">123 NW Main Street<br />Fort Lauderdale, FL</h4>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-4">
                    <div class="wpb_wrapper">
                        <div class="vc_icon_element vc_icon_element-outer vc_icon_element-align-center vc_icon_element-have-style">
                            <div class="vc_icon_element-inner vc_icon_element-color-white vc_icon_element-have-style-inner vc_icon_element-size-lg vc_icon_element-style-boxed vc_icon_element-background vc_icon_element-background-color-custom" style="background-color:#98c11e"><span class="vc_icon_element-icon fa fa-envelope"></span></div>
                        </div>
                        <div class="vc_custom_heading vc_custom_1438941218799">
                            <h4 style="font-size: 14px;color: #333333;text-align: left">EMAIL</h4>
                        </div>
                        <div class="vc_custom_heading">
                            <h4 style="font-size: 15px;color: #333333;text-align: left"><a href="mailto:info@sflstucco.com">info@sflstucco.com</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>