
@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" class="site-content">
    <div class="big-title">
        <div class="container">
            <div class="row middle">
                <div class="col-md-8">
                    <h1 class="entry-title">About Us</h1>
                    <h3>We are South Florida's leading stucco company. We know stucco.</h3>
                </div>
                <div class="col-md-4 end">
                    <div class="breadcrumb">
                        <div class="container">
                            <ul class="tm_bread_crumb">
                                <li class="level-1 top"><a href="~/">Home</a></li>
                                <li class="level-2 sub tail current">About</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <article id="post-63">
                        <div class="entry-content">
                            <div class="vc_row wpb_row vc_row-fluid">
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="wpb_wrapper">
                                        <div class="vc_custom_heading style2">
                                            <h2 style="font-size: 30px;color: #333333;text-align: left">OUR STORY</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vc_row wpb_row vc_row-fluid vc_custom_1439000483075">
                                <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_single_image wpb_content_element vc_align_center">
                                            <div class="wpb_wrapper">

                                                <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="470" height="473" src="~/Content/images/happy-contractor.png" class="vc_single_image-img attachment-full" alt="people01" /></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_text_column wpb_content_element  grey">
                                            <div class="wpb_wrapper">
                                                <p>Suspendisse et lacus neque. Etiam feugiat convallis consequat. Praesent tempor orci quis consequat ullamcorper. Donec tellus tellus, iaculis sed consequat vel, aliquam id erat.</p>
                                                <ul class="list">
                                                    <li>Highly professional staff with many years experience.</li>
                                                    <li>Commercial grade materials and design.</li>
                                                    <li>The best team for the job.</li>
                                                    <li><span style="line-height: 1.5;">We use the latest techniques.</span></li>
                                                </ul>

                                            </div>
                                        </div>
                                        <div class="vc_btn3-container vc_btn3-inline">
                                            <form method="post" id="contactus" action="@Url.Action("Index", "ContactUs")">
                                                <button class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-square vc_btn3-style-modern vc_btn3-color-grey">CONTACT US</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vc_row-full-width"></div>
                            <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1439002646592">
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="wpb_wrapper">
                                        <div class="vc_custom_heading style2">
                                            <h2 style="font-size: 30px;color: #333333;text-align: left">OUR TEAM</h2>
                                        </div>
                                        <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                            <div class="wpb_column vc_column_container vc_col-sm-3">
                                                <div class="wpb_wrapper">
                                                    <div class="vc_custom_heading">
                                                        <h4 style="font-size: 17px;color: #333333;text-align: left">John Doe</h4>
                                                    </div>
                                                    <div class="vc_custom_heading vc_custom_1440750872294">
                                                        <h5 style="font-size: 13px;color: #98c11e;text-align: left">Founder</h5>
                                                    </div>
                                                    <div class="wpb_text_column wpb_content_element  grey">
                                                        <div class="wpb_wrapper">
                                                            <p>Suspendisse et lacus neque. Etiam feugiat convallis consequat. Praesent tempor orci quis consequat ullamcorper. Donec tellus tellus, iaculis sed consequat vel, aliquam id erat.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wpb_column vc_column_container vc_col-sm-3">
                                                <div class="wpb_wrapper">
                                                    <div class="vc_custom_heading">
                                                        <h4 style="font-size: 17px;color: #333333;text-align: left">Jane Doe</h4>
                                                    </div>
                                                    <div class="vc_custom_heading vc_custom_1440750909895">
                                                        <h5 style="font-size: 13px;color: #98c11e;text-align: left">Vice President</h5>
                                                    </div>
                                                    <div class="wpb_text_column wpb_content_element  grey">
                                                        <div class="wpb_wrapper">
                                                            <p>Suspendisse et lacus neque. Etiam feugiat convallis consequat. Praesent tempor orci quis consequat ullamcorper. Donec tellus tellus, iaculis sed consequat vel, aliquam id erat.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wpb_column vc_column_container vc_col-sm-3">
                                                <div class="wpb_wrapper">
                                                    <div class="vc_custom_heading">
                                                        <h4 style="font-size: 17px;color: #333333;text-align: left">James Doe</h4>
                                                    </div>
                                                    <div class="vc_custom_heading vc_custom_1440750937334">
                                                        <h5 style="font-size: 13px;color: #98c11e;text-align: left">Design Department</h5>
                                                    </div>
                                                    <div class="wpb_text_column wpb_content_element  grey">
                                                        <div class="wpb_wrapper">
                                                            <p>Suspendisse et lacus neque. Etiam feugiat convallis consequat. Praesent tempor orci quis consequat ullamcorper. Donec tellus tellus, iaculis sed consequat vel, aliquam id erat.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wpb_column vc_column_container vc_col-sm-3">
                                                <div class="wpb_wrapper">
                                                    <div class="vc_custom_heading">
                                                        <h4 style="font-size: 17px;color: #333333;text-align: left">Steven Doe</h4>
                                                    </div>
                                                    <div class="vc_custom_heading vc_custom_1440750958389">
                                                        <h5 style="font-size: 13px;color: #98c11e;text-align: left">Foreman</h5>
                                                    </div>
                                                    <div class="wpb_text_column wpb_content_element  grey">
                                                        <div class="wpb_wrapper">
                                                            <p>Suspendisse et lacus neque. Etiam feugiat convallis consequat. Praesent tempor orci quis consequat ullamcorper. Donec tellus tellus, iaculis sed consequat vel, aliquam id erat.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @Html.Partial("~/Views/Services/Partials/_CompanyInfoFooter.cshtml")
                            <div class="vc_row-full-width"></div>
                        </div>
                        <!-- .entry-content -->
                    </article>
                    <!-- #post-## -->
                </div>
            </div>
        </div>
    </div>

</div>
