<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PlexHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="PlexHelpber.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <PlexHelper.Properties.Settings>
            <setting name="CreateLogFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Verbose" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SupportedMediaExtensions" serializeAs="String">
                <value>.mp4|.avi|.mkv</value>
            </setting>
            <setting name="MovieSearchUrl" serializeAs="String">
                <value>https://yts.to/api/v2/list_movies.json?query_term={0}&amp;limit=50&amp;page={1}</value>
            </setting>
            <setting name="SubtitleSearchUrl" serializeAs="String">
                <value>http://www.yifysubtitles.com/movie-imdb/{0}</value>
            </setting>
            <setting name="StopCharacter" serializeAs="String">
                <value>[</value>
            </setting>
            <setting name="SubtitleLanguages" serializeAs="String">
                <value>English|Spanish|French</value>
            </setting>
            <setting name="SupportedSubtitleExtensions" serializeAs="String">
                <value>.srt</value>
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DownloadedMovieNameFormat" serializeAs="String">
                <value>Title (Year)</value>
            </setting>
            <setting name="SubtitleDownloadFormatLink" serializeAs="String">
                <value>http://www.yifysubtitles.com{0}.zip</value>
            </setting>
            <setting name="StringsToReplace" serializeAs="String">
                <value>.|720p|1080p|BluRay|x264|YIFY|BrRip|+|HI|mp4|avi|mkv|BRrip|GAZ|X264|[YTS AG]</value>
            </setting>
        </PlexHelper.Properties.Settings>
        <PlexHelpber.Properties.Settings>
            <setting name="CreateLogFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Verbose" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SupportedExtensions" serializeAs="String">
                <value>.mp4|.avi|.mkv</value>
            </setting>
            <setting name="MovieSearchUrl" serializeAs="String">
                <value>https://yts.to/api/v2/list_movies.json?query_term={0}</value>
            </setting>
            <setting name="SubtitleSearchUrl" serializeAs="String">
                <value>http://www.yifysubtitles.com/movie-imdb/{0}</value>
            </setting>
        </PlexHelpber.Properties.Settings>
    </applicationSettings>
</configuration>