<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SQLEntityClassGenerator.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser"
               requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <SQLEntityClassGenerator.Properties.Settings>
      <setting name="DisableMessageBoxes" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultSaveLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="LibraryLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="ModifyProjectFile" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoIncludeFiles" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DisableToStringPrompt" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DisableCustomPropertiesPrompt" serializeAs="String">
        <value>False</value>
      </setting>
    </SQLEntityClassGenerator.Properties.Settings>
  </userSettings>
</configuration>
