<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Carrier" value="txt.att.net"/>
    <add key="PhoneNumber" value="3058734298"/>
    <add key="FromAddress" value="horhey.ortega@gmail.com"/>
    <add key="SmtpServer" value="smtp.gmail.com"/>
    <add key="SmtpPassword" value="Metallica1."/>
    <add key="SmtpPort" value="587"/>
    <add key="RandomOrgEndpoint" value="https://api.random.org/json-rpc/1/invoke"/>
  </appSettings>
</configuration>