<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RefreshRecentlyAddedService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RefreshRecentlyAddedService.Properties.Settings>
            <setting name="RefreshTimeIntervalInDays" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="RefreshRateInSeconds" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="RandomPlaylistRefreshTimeIntervalInDays" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DebugWaitTime" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="NumberOfRandomFiles" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ValidMovieExtensions" serializeAs="String">
                <value>.mov|.wmv|.mp4|.avi</value>
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RecentlyAddedLocation" serializeAs="String">
                <value>N:\Applications\Telerik DevCraft Ultimate Q3 2013\JustMock\Training\RecentlyAdded</value>
            </setting>
            <setting name="ScanLocations" serializeAs="String">
                <value>N:\Applications\Telerik DevCraft Ultimate Q3 2013\JustMock\Training</value>
            </setting>
            <setting name="RandomPlaylistLocation" serializeAs="String">
                <value>N:\Applications\Telerik DevCraft Ultimate Q3 2013\JustMock\Training\RandomPlaylist</value>
            </setting>
            <setting name="RunRandomPlaylistRoutine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RunRecentlyAddedRoutine" serializeAs="String">
                <value>False</value>
            </setting>
        </RefreshRecentlyAddedService.Properties.Settings>
    </applicationSettings>
</configuration>