
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="content" class="site-content">
    <div class="big-title">
        <div class="container">
            <div class="row middle">
                <div class="col-md-8">
                    <h1 class="entry-title">Services</h1>
                    <h3>Innovative design and quality all at an exceptional value. Stucco is what we do.</h3>
                </div>
                <div class="col-md-4 end">
                    <div class="breadcrumb">
                        <div class="container">
                            <ul class="tm_bread_crumb">
                                <li class="level-1 top"><a href="~/">Home</a></li>
                                <li class="level-2 sub tail current">Services</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <article id="post-77">
                        <div class="entry-content">
                            <div class="vc_row wpb_row vc_row-fluid tm_top vc_custom_1438941556090">
                                <div class="wpb_column vc_column_container vc_col-sm-4">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_single_image wpb_content_element vc_align_left  vc_custom_1438939082037">
                                            <div class="wpb_wrapper">
                                                <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="640" height="400" src="~/Content/images/stucco-repair.png" class="vc_single_image-img attachment-large" alt="img06" /></div>
                                            </div>
                                        </div>
                                        <div class="vc_custom_heading vc_custom_1440751318018">
                                            <h2 style="font-size: 15px;color: #ffffff;text-align: left">STUCCO REPAIR</h2>
                                        </div>
                                        <div class="wpb_text_column wpb_content_element  grey">
                                            <div class="wpb_wrapper">
                                                <p>Suspendisse et lacus neque. Etiam feugiat convallis consequat. Praesent tempor orci quis consequat ullamcorper. Donec tellus tellus, iaculis sed consequat vel, aliquam id erat.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-4">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_single_image wpb_content_element vc_align_left  vc_custom_1438938995088">
                                            <div class="wpb_wrapper">
                                                <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="640" height="400" src="~/Content/images/commercial-building.png" class="vc_single_image-img attachment-large" alt="img04" /></div>
                                            </div>
                                        </div>
                                        <div class="vc_custom_heading vc_custom_1440751247401">
                                            <h2 style="font-size: 15px;color: #ffffff;text-align: left">COMMERCIAL</h2>
                                        </div>
                                        <div class="wpb_text_column wpb_content_element  grey">
                                            <div class="wpb_wrapper">
                                                <p>Suspendisse et lacus neque. Etiam feugiat convallis consequat. Praesent tempor orci quis consequat ullamcorper. Donec tellus tellus, iaculis sed consequat vel, aliquam id erat.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-4">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_single_image wpb_content_element vc_align_left  vc_custom_1438939052707">
                                            <div class="wpb_wrapper">
                                                <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="640" height="405" src="~/Content/images/restucco-man.png" class="vc_single_image-img attachment-large" alt="img05" /></div>
                                            </div>
                                        </div>
                                        <div class="vc_custom_heading vc_custom_1440751293634">
                                            <h2 style="font-size: 15px;color: #ffffff;text-align: left">RESTUCCO</h2>
                                        </div>
                                        <div class="wpb_text_column wpb_content_element  grey">
                                            <div class="wpb_wrapper">
                                                <p>Suspendisse et lacus neque. Etiam feugiat convallis consequat. Praesent tempor orci quis consequat ullamcorper. Donec tellus tellus, iaculis sed consequat vel, aliquam id erat.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vc_row-full-width"></div>
                            @Html.Partial("~/Views/Services/Partials/_CompanyInfoFooter.cshtml")
                            <div class="vc_row-full-width"></div>
                        </div>
                        <!-- .entry-content -->
                    </article>
                    <!-- #post-## -->
                </div>
            </div>
        </div>
    </div>

</div>