<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RefreshRecentlyAddedLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <RefreshRecentlyAddedLauncher.Properties.Settings>
            <setting name="RefreshRateInSeconds" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="RandomPlaylistRefreshTimeIntervalInDays" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DebugWaitTime" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="NumberOfRandomFiles" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ValidMovieExtensions" serializeAs="String">
                <value>.mov|.wmv|.mp4|.avi|.mkv</value>
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RecentlyAddedLocation" serializeAs="String">
                <value>N:\Applications\Bins\Training\RecentlyAdded</value>
            </setting>
            <setting name="ScanLocations" serializeAs="String">
                <value>N:\Applications\Bins\Training\</value>
            </setting>
            <setting name="RandomPlaylistLocation" serializeAs="String">
                <value>N:\Applications\Bins\Training\RandomPlaylist</value>
            </setting>
            <setting name="RunRandomPlaylistRoutine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RunRecentlyAddedRoutine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RandomOrgEndpoint" serializeAs="String">
                <value>https://api.random.org/json-rpc/1/invoke</value>
            </setting>
            <setting name="ApiKey" serializeAs="String">
                <value>317d7210-8e9a-4bdd-8e69-49d69311501c</value>
            </setting>
            <setting name="RefreshTimeIntervalInDays" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MinimumPlayCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DatabaseFilePath" serializeAs="String">
                <value>C:\Windows\Temp\RRADB.txt</value>
            </setting>
            <setting name="RandomFilePlayCountThresholdUntilDelete" serializeAs="String">
                <value>5</value>
            </setting>
        </RefreshRecentlyAddedLauncher.Properties.Settings>
    </applicationSettings>
</configuration>