<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="RandomPlaylistRefreshTimeIntervalInDays" value="1"/>
    <add key="DebugWaitTime" value="60000"/>
    <add key="NumberOfRandomFiles" value="200"/>
    <add key="ValidMovieExtensions" value=".mov|.wmv|.mp4|.avi|.mkv|.symlink"/>
    <add key="Debug" value="False"/>
    <add key="RecentlyAddedLocation" value="N:\Applications\Bins\Training\RecentlyAdded"/>
    <add key="ScanLocation" value="N:\Applications\Bins\Training\"/>
    <add key="RandomPlaylistLocation" value="N:\Applications\Bins\Training\RandomPlaylist"/>
    <add key="RefreshTimeIntervalInDays" value="5"/>
    <add key="MinimumPlayCount" value="1"/>
    <add key="DatabaseLocation" value="C:\Windows\Temp\RRADB.txt"/>
    <add key="RandomFilePlayCountThresholdUntilDelete" value="5"/>
  </appSettings>
</configuration>