<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MultiScript.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MultiScript.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="MultiScriptLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <MultiScript.Properties.Settings>
      <setting name="RemoveSuccessfulLogs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RegisterContextMenu" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultFolderLocation" serializeAs="String">
        <value>C:\Scripts</value>
      </setting>
      <setting name="RegisteredServers" serializeAs="String">
        <value />
      </setting>
    </MultiScript.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <MultiScript.Properties.Settings>
      <setting name="DefaultFolders" serializeAs="String">
        <value />
      </setting>
    </MultiScript.Properties.Settings>
    <MultiScriptLib.Properties.Settings>
      <setting name="SqlUser" serializeAs="String">
        <value>gpsuser</value>
      </setting>
      <setting name="SqlPassword" serializeAs="String">
        <value>uijkui78!</value>
      </setting>
      <setting name="ProductionServer" serializeAs="String">
        <value>db.mobilehelp.com</value>
      </setting>
    </MultiScriptLib.Properties.Settings>
  </applicationSettings>
</configuration>
