<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <add key="PlexDbLocation" value="\\ortegafs01\c$\Users\Administrator\AppData\Local\Plex Media Server\Plug-in Support\Databases\com.plexapp.plugins.library.db"/>
    <add key="ExportQuery" value="select metadata_items.title, file 
from media_parts 
left outer join media_items on media_items.id = media_parts.media_item_id 
left outer join play_queue_generators on play_queue_generators.metadata_item_id = media_items.metadata_item_id 
left outer join metadata_items on metadata_items.id = play_queue_generators.playlist_id 
WHERE metadata_items.metadata_type = 15 
ORDER BY title ASC"/>
    <add key="PlaylistExtension" value=".m3u"/>
    <add key="SaveLocation" value="C:\PlexPlaylistExport"/>
    <add key="Debug" value="True"/>
  </appSettings>
</configuration>
